@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MY to-do List</h1>
    <p class="lead">Organisez vos tâches et gagnez en productivité avec notre application de to-list intuitive et personnalisable.</p>
    <p> @Html.ActionLink("Se connecter ", "connection", new { @class = "btn btn-danger btn-xs" })</p>
</div>

